In [1]:
import pymongo
import pandas as pd

In [3]:
# Read the CSV file
data_path = 'Merged_card_user.csv'  
df = pd.read_csv(data_path, low_memory=False)

#Connect to MongoDB
client = pymongo.MongoClient("mongodb://localhost:27017/") 

#Create DataBase and  Collection:
db = client["Card_fraud_db"]  
collection = db["card_users"]  

#Convert DataFrame to dictionary format for MongoDB
data_dict = df.to_dict("records")

# Insert data into MongoDB collection
collection.insert_many(data_dict)

print("data successfully inserted")

data successfully inserted

In [ ]:
# Verify that retrieve data from Mongo Db
retrieved_data = collection.find().limit(10)
retrieved_df = pd.DataFrame(list(retrieved_data))
retrieved_df.head()

,_id,Person,Current Age,Retirement Age,Birth Year,Birth Month,Gender,Address,Apartment,City,...,Card Type,Card Number,Expires,CVV,Has Chip,Cards Issued,Credit Limit,Acct Open Date,Year PIN last Changed,Card on Dark Web
0,674fc527a52c7b919a837403,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,...,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,674fc527a52c7b919a837404,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,...,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,674fc527a52c7b919a837405,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,...,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,674fc527a52c7b919a837406,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,...,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,674fc527a52c7b919a837407,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,...,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No